{% extends 'Common.html' %}
{% load static %}
{% load active %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">

      {% if form %}
      {% if user.is_authenticated %}
      <div class="row">
        <div class="col-lg-5 col-md-5"></div>
        <div class="col-lg-6 col-md-6">
          <form method="POST" enctype="multipart/form-data" action="{% url 'Parser' %}" style="margin-top: 2%; margin-bottom: 3%">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" id="import" name="import" class="btn btn-danger" style="margin-top: 2%; border-radius: 0">Upload</button>
          </form>
        </div>
      </div>
      {% else %}
          <div class="col-md-10">
            <p align="left" style="margin-top: 5%">Please Login if you already have an account  <a href="{% url 'login' %}" style="color:red">Login</a></p>
            <span style="text-align:left">Don't have account with us Register Here  <a href="{% url 'register' %}" style="color:red">Register</a></span>
          </div>
      {% endif %}
      {% elif resumes %}
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="{% url 'Parser' %}">
              <button class="btn btn-danger" style="margin-top: 2%; margin-bottom: 2%; border-radius: 0;">Upload More</button>
            </a>
            <a href="{% url 'export-csv' %}">
              <button class="btn btn-danger" style="margin-top: 2%; margin-bottom: 2%; border-radius: 0;">Export CSV</button>
            </a>
            <a href="{% url 'export-xls' %}">
              <button class="btn btn-danger" style="margin-top: 2%; margin-bottom: 2%; border-radius: 0;">Export Excel</button>
            </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <table class="table table-bordered table-striped table-responsive">
            <thead>
              <tr>
                <th>S.no</th>
                <th>Resume File</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Education</th>
<!--                <th>Company Names</th>-->
                <th>Designation</th>
<!--                <th>College Name</th>-->
                <th>Total Experience in years</th>
                <th>Skills</th>
                <th>Experience</th>
              </tr>
            </thead>
            <tbody>
              {% for resume in resumes %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td><a href="{{resume.resume.url}}" target="_blank">{{resume.resume.url|truncatechars:20}}</a></td>
                  <td>{{resume.name}}</td>
                  <td>{{resume.email}}</td>
                  <td>{{resume.mobile_number}}</td>
                  <td>{{resume.education}}</td>
<!--                  <td>{{resume.company_names}}</td>-->
                  <td>{{resume.designation}}</td>
<!--                  <td>{{resume.college_name}}</td>-->
                  <td>{{resume.total_experience}}</td>
                  <td>{{resume.skills}}</td>
                  <td>{{resume.experience}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </div>
{% endblock %}
