<!doctype html>
{% extends 'common.html' %}
{% load static %}
{% load active %}

{% block content %}

<div class="main-wrapper ">
<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-10">
				<div class="block">
					<span class="d-block mb-3 text-white text-capitalize">Prepare for new future</span>
					<h1 class="animated fadeInUp mb-5">Our work is <br>presentation of our <br>capabilities.</h1>
					<a href="{% url 'Parser' %}" target="_blank" class="btn btn-main animated fadeInUp btn-round-full" >Get started<i class="btn-icon fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section Intro Start -->

<section class="section intro">
	<div class="container">
		<div class="row ">
			<div class="col-lg-8">
				<div class="section-title">
					<span class="h6 text-color ">We are creative & expert people</span>
					<h2 class="mt-3 content-title">We work with business & provide solution to client with our product. </h2>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-12">
				<div class="intro-item mb-5 mb-lg-0"> 
					<i class="ti-desktop color-one"></i>
					<h4 class="mt-4 mb-3">Modern & Responsive design</h4>
					<p>A Resume Parser is a Responsive Website which can be accessed from any smart devices.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="intro-item mb-5 mb-lg-0">
					<i class="ti-medall color-one"></i> 
					<h4 class="mt-4 mb-3">User Friendly</h4>
					<p>A Resume Parser isn't here to replace your internal team, we're here to partner.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="intro-item">
					<i class="ti-layers-alt color-one"></i>
					<h4 class="mt-4 mb-3">Speed & Efficacy of Data Entry</h4>
					<p>It will allow you to speed up your data entry activities with the benefit of freeing up crucial time.</p>
				</div>
			</div> 
		</div>
	</div>
</section>

<!-- Section Intro END -->
<!-- Section About Start -->

<section class="section about position-relative">
	<div class="bg-about"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6 offset-md-0">
				<div class="about-item ">
					<span class="h6 text-color">What we are</span>
					<h2 class="mt-3 mb-4 position-relative content-title">We are dynamic team of creative people</h2>
					<div class="about-content">
						<h4 class="mb-3 position-relative">We are Perfect Solution</h4>
						<p class="mb-5">We provide wide range of services with our product and helps wide range of companies to get the best candidats for their companies.</p>
						<a href="{% url 'about' %}" class="btn btn-main btn-round-full">Get started</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section About End -->
<!-- section Counter Start -->
<section class="section counter">

</section>
<!-- section Counter End  -->
<!--  Section Services Start -->
<section class="section service border-top">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">Our Services</span>
					<h2 class="mt-3 content-title ">We provide a wide range of creative services </h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-desktop"></i>
					<h4 class="mb-3">User Friendly</h4>
					<p>A Resume Parser isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-layers"></i>
					<h4 class="mb-3">Resposnsive Design</h4>
					<p>A Resume Parser is a Responsive Website which can be accessed from any smart devices</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-bar-chart"></i>
					<h4 class="mb-3">Lowered Margin for Error</h4>
					<p>No matter how experienced or focused on your work you may be, This is where a resume parser built from the ground up with accurate data parsing can come in handy and mitigate your margin for error.</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-vector"></i>
					<h4 class="mb-3">Consistency in Parsed Data</h4>
					<p>Using a resume parser will ensure that your candidate data is consistent no matter how many resumes you parse per day. Whether you insert a dozen or a hundred resumes.</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-android"></i>
					<h4 class="mb-3">End-Result Format Standardization</h4>
					<p>By introducing a resume parsing platform which will alleviate those problems, you will be able to standardize your data formats moving forward.</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-pencil-alt"></i>
					<h4 class="mb-3">Speed & Efficacy of Data Entry</h4>
					<p>It will allow you to speed up your data entry activities with the benefit of freeing up crucial time.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Section Services End -->
 <!-- Section Cta Start --> 
<section class="section cta">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="cta-item  bg-white p-5 rounded">
					<span class="h6 text-color">We create for you</span>
					<h2 class="mt-2 mb-4">Entrust Your Data to Our Best Team of Professionals</h2>
					<p class="lead mb-4">Have any issue? For immidiate support :</p>
					<h3><i class="ti-mobile mr-3 text-color"></i>+91 79999-84851</h3>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Section Cta End-->
<!-- Section Testimonial Start -->
<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 ">
				<div class="section-title">
					<span class="h6 text-color">Clients testimonial</span>
					<h2 class="mt-3 content-title">Check what's our clients say about us</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row testimonial-wrap">
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">It has been a year now since our team is using ReumeParser. I never had complaints regarding the product and their services.</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">Thomas Johnson</h5>
						<p>Excutive Director,Ultra Tech</p>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">Have been doing business with them for 7 months now and they have never failed to amaze me with their service. I recommend them to others whenever I get chance.</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">Mickel hussy</h5>
						<p>Excutive Director,ExoGraphics Media</p>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">Exceptional Services! A smooth service is the best part of the ResumeParser. I'll surely make a repetitive order with them, and recommend others to go with this reputated company.</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">Lucas Gallone</h5>
						<p>CFO,TechGiants</p>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">Have been doing business with them for 2 Yesrs now and they have never failed to amaze me with their service. I recommend them to others whenever I get chance.</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">Andrew Neel</h5>
						<p>Excutive Manager,Josh Media</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section Testimonial End -->

<section class="mt-70 position-relative">
	<div class="container">
	<div class="cta-block-2 bg-gray p-5 rounded border-1">
		<div class="row justify-content-center align-items-center ">
			<div class="col-lg-7">
				<span class="text-color">For Every type business</span>
				<h2 class="mt-2 mb-4 mb-lg-0">Entrust Your Data to Our Best Team of Professionals</h2>
			</div>
			<div class="col-lg-4">
				<a href="{% url 'contact' %}" class="btn btn-main btn-round-full float-lg-right ">Contact Us</a>
			</div>
		</div>
	</div>
</div>
</section>
</div>

{% endblock %}