{% load static %}

<html>

  <head>

    <meta http-equiv="refresh" content="5; url = http://127.0.0.1:8000/" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/scratch.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <div class="box">
      <div class="text">Transferring</div>
      <div class="rupee"><i class="fa fa-rupee"></i> </div>
    </div>
    <footer>
      <span class="hcc">#HandCraftedCode</span>
      <span class="mii">With <i class="fa fa-heart"></i> #MadeInIndia</span>
    </footer>
  </body>

</html>
<!--&lt;!&ndash; LOADER PAGE &ndash;&gt;-->
<!--{% load static %}-->
<!--<!DOCTYPE html>-->
<!--<html lang="en" dir="ltr">-->
<!--  <head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="refresh"-->
<!--    content="5; url = http://127.0.0.1:8000/home" />-->
<!--    <link rel="stylesheet" href="{% static 'website/css/index.css' %}">-->


<!--    <title></title>-->

<!--  </head>-->
<!--  <body>-->
<!--    &lt;!&ndash; https://dribbble.com/shots/3376812-Abstract-Activity-Indicator &ndash;&gt;-->

<!--<div class="indicator">-->
<!--  <svg width="16px" height="12px">-->
<!--    <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>-->
<!--    <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>-->
<!--  </svg>-->
<!--</div>-->
<!--  </body>-->
<!--</html>-->
