{% extends 'common.html' %}
{% load static %}
{% load active %}

{% block content %}

<div class="main-wrapper ">
<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Our services</span>
          <h1 class="text-capitalize mb-4 text-lg">What We Do</h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="{% url 'homepage' %}" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="{% url 'service' %}" class="text-white-50">Our services</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!--  Section Services Start -->
<section class="section service border-top">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">Our Services</span>
					<h2 class="mt-3 content-title ">Our Product provide a wide range of creative services </h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-desktop"></i>
					<h4 class="mb-3">User Friendly</h4>
					<p>A Resume Parser isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-layers"></i>
					<h4 class="mb-3">Resposnsive Design</h4>
					<p>A Resume Parser is a Responsive Website which can be accessed from any smart devices.</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-bar-chart"></i>
					<h4 class="mb-3">Lowered Margin for Error</h4>
					<p>No matter how experienced or focused on your work you may be, This is where a resume parser built from the ground up with accurate data parsing can come in handy and mitigate your margin for error.</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-vector"></i>
					<h4 class="mb-3">Consistency in Parsed Data</h4>
					<p>Using a resume parser will ensure that your candidate data is consistent no matter how many resumes you parse per day. Whether you insert a dozen or a hundred resumes.</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-android"></i>
					<h4 class="mb-3">End-Result Format Standardization</h4>
					<p>By introducing a resume parsing platform which will alleviate those problems, you will be able to standardize your data formats moving forward.</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-pencil-alt"></i>
					<h4 class="mb-3">Speed & Efficacy of Data Entry</h4>
					<p>It will allow you to speed up your data entry activities with the benefit of freeing up crucial time.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Section Services End -->

<section class="cta-2">
	<div class="container">
		<div class="cta-block p-5 rounded">
			<div class="row justify-content-center align-items-center ">
				<div class="col-lg-7">
					<span class="text-color">For Every type business</span>
					<h2 class="mt-2 text-white">Entrust Your Candidates to Our Best Team of Professionals</h2>
				</div>
				<div class="col-lg-4">
					<a href="{% url 'contact' %}" class="btn btn-main btn-round-full float-right">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
</section>
    </div>
{% endblock %}