{% extends 'common.html' %}

{% load static %}
{% block content %}
<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="icon-check_circle display-3 text-primary"></span>
              <p></p>
            <h2 class="display-3 text-black">Thank you for reaching us!</h2>
            <p class="lead mb-5">Our executive will reach you soon.</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}